.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3939398c;
   
    text-align: center;
    padding: 1px 0;

}
h4{
    margin: 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0.3px;
}

@media (max-width: 400px) {
    .footer h4{
        font-size: 1.06rem;
    }
}